<div class="form-container" data-cy="form-container">
  <h3 mat-dialog-title>Add {{ data.entityType | titlecase }}</h3>
  <div mat-dialog-content>
    <form [formGroup]="form">
      <mat-form-field appearance="outline">
        <mat-label> {{ data.entityType | titlecase }} name</mat-label>
        <input matInput placeholder="Placeholder" formControlName="name" data-cy="name-input"/>
      </mat-form-field>
      <mat-form-field
        appearance="outline"
        *ngIf="data.entityType === types.MOVIE"
      >
        <mat-label>Movie runtime</mat-label>
        <input
          matInput
          placeholder="Placeholder"
          formControlName="runtime"
          type="number"
          data-cy="runtime-input"
        />
      </mat-form-field>
    </form>
  </div>
  <div mat-dialog-actions>
    <button
      mat-flat-button
      color="primary"
      [disabled]="form.invalid || isLoading"
      (click)="save()"
      data-cy="save-btn"
    >
      Save
    </button>
    <button
      cdkFocusInitial
      mat-flat-button
      color="warn"
      (click)="close(null)"
      data-cy="cancel-btn"
    >
      Cancel
    </button>
  </div>
</div>
