<mat-card class="dashboard-card">
  <ng-container *ngIf="!dataSource; else tableContent">
    <mat-card-content class="dashboard-card-content">
      <div class="number-cinemas">{{ total }}</div>
      <div class="cinemas">{{ title }}</div>
      <div class="per-cinemas">
        <span>+3.5%</span>
      </div>
    </mat-card-content>
  </ng-container>
</mat-card>
<ng-template #tableContent>
  <app-table-base [dataSource]="dataSource" [displayedColumns]="['name']"></app-table-base>
</ng-template>
