<div class="grid-container" *ngIf="dashBoarData$ | async as data">
  <h1 class="mat-h1">Dashboard</h1>
  <mat-grid-list cols="{{ (cardLayout | async)?.columns }}" rowHeight="200px">
    <ng-container>
      <mat-grid-tile *ngFor="let d of data | keyvalue">
        <app-card [title]="d.key" [total]="d.value"> </app-card>
      </mat-grid-tile>
    </ng-container>

    <!-- <mat-grid-tile
      *ngFor="let i of [5, 6]"
      [colspan]="(cardLayout | async)?.chart?.cols"
      [rowspan]="(cardLayout | async)?.chart?.rows"
    >
    <app-card [dataSource]="moviesDs"> </app-card>

    </mat-grid-tile> -->
  </mat-grid-list>
</div>
