<div class="page">
  <div *ngIf="cinema">
    <h1>Viewing cinema {{cinema.name}}</h1>
  </div>
  <div>
    <button mat-flat-button color="primary" (click)="addScreen()">
      Add a screen
    </button >
  </div>
  <div>

  </div>
  <div class="table-container">
    <div class="left-table">
      <app-table-base [displayedColumns]="screensColumns" [dataSource]="screenDataSource" [totalElements]="screensTotal" [totalElements]="10" tableCaption="Screens"></app-table-base>
    </div>
    <div class="right-table">
      <app-table-base [displayedColumns]="screeningsColumns" [dataSource]="screeningDataSource" [totalElements]="screeningsTotal" tableCaption="Screenings"></app-table-base>
    </div>
  </div>
</div>
