<div class="page">
  <div>
    <h1>Viewing cinema {{cinema.name}}</h1>
  </div>
  <div>
    <button mat-flat-button color="primary" (click)="addScreen()">
      Add a screen
    </button >
  </div>
  <div>

  </div>
  <div class="table-container">
    <div class="left-table">
      <app-table-base [displayedColumns]="displayedColumns" [dataSource]="screenDataSource" [totalElements]="cinema.screens.length"></app-table-base>
    </div>
    <div class="right-table">
      <app-table-base [displayedColumns]="displayedColumns" [dataSource]="screeningDataSource" [totalElements]="screeningTotal"></app-table-base>
    </div>
  </div>
</div>
