<div>
  <!-- PUT /cinemas/{c_id}/screens/{s_id}/screenings
    JSON Body {movieId: ...., startTime: ....}
   -->
  <mat-stepper [linear]="true" #stepper>
    <mat-step>
      <ng-template matStepLabel>Select a Movie </ng-template>
      <app-movies-list #moviesList [displayedColumns]="moviesColumns" (movieSelected)="movieSelected($event)"></app-movies-list>
      <button mat-button matStepperNext>Next</button>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Select a Cinema</ng-template>
      <app-cinemas-list
        [displayedColumns]="cinemasColumns"
        (cinemaSelected)="cinemaSelected($event)"
      ></app-cinemas-list>

      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
      </div>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Select a Screen </ng-template>
      <div class="table-container">
        <app-table-base
          [displayedColumns]="screensColunms"
          [dataSource]="screensDs"
          [totalElements]="screensLength"
          (rowSelected)="screenSelected($event)"
        ></app-table-base>
      </div>
    </mat-step>
    <mat-step>
      <div>

        <form [formGroup]="formGroup">
          <ng-template matStepLabel>Set the date and time</ng-template>
          <app-date-time-picker [dateControl]="startTime"></app-date-time-picker>
        </form>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext [disabled]="formGroup.invalid">Next</button>
      </div>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Sumary</ng-template>

      We're going to create a screen for 'movie name' at 'cinma name' on
      Septhember the 8th at 18:00
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button matStepperNext>Next</button>
    </mat-step>
  </mat-stepper>
</div>
