<div>
  <!-- PUT /cinemas/{c_id}/screens/{s_id}/screenings
    JSON Body {movieId: ...., startTime: ....}
   -->
  <mat-stepper [linear]="true" #stepper>
    <mat-step>
      <ng-template matStepLabel>Select a Movie </ng-template>
      <app-movies-list #moviesList [displayedColumns]="moviesColumns" (movieSelected)="movieSelected($event)"></app-movies-list>
      <button mat-button matStepperNext>Next</button>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Select a Cinema</ng-template>
      <app-cinemas-list
        [displayedColumns]="cinemasColumns"
        (cinemaSelected)="cinemaSelected($event)"
      ></app-cinemas-list>

      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
      </div>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Select a Screen </ng-template>
      <div class="table-container">
        <app-table-base
          [displayedColumns]="screensColunms"
          [dataSource]="screensDs"
          [totalElements]="screensLength"
          (rowSelected)="screenSelected($event)"
        ></app-table-base>
      </div>
    </mat-step>
    <mat-step>
      <div>
        <input matInput type="datetime-local" placeholder="start date">

        <form [formGroup]="fromGroup">
          <ng-template matStepLabel>Set the date and time</ng-template>
          <mat-form-field>
            <mat-label>Seats to book</mat-label>
            <mat-label>Choose a date</mat-label>
            <input matInput [matDatepicker]="datepicker" />
            <mat-hint>MM/DD/YYYY</mat-hint>
            <mat-datepicker-toggle
              matIconSuffix
              [for]="datepicker"
            ></mat-datepicker-toggle>
            <mat-datepicker #datepicker>
              <mat-datepicker-actions>
                <button mat-button matDatepickerCancel>Cancel</button>
                <button mat-raised-button color="primary" matDatepickerApply>
                  Apply
                </button>
              </mat-datepicker-actions>
            </mat-datepicker>
          </mat-form-field>
        </form>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
      </div>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Sumary</ng-template>

      We're going to create a screen for 'movie name' at 'cinma name' on
      Septhember the 8th at 18:00
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button matStepperNext>Next</button>
    </mat-step>
  </mat-stepper>
</div>
