html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: "Poppins", sans-serif !important;
  color: #5d6d81 !important;
}

h1,
h2,
h3,
h4,
h5,
h6,
button,
.mat-mdc-header-row,
.mdc-list-item__primary-text,
.mat-mdc-card-title,
.mat-mdc-row,
.mdc-data-table__content,
.mat-step-label,
.mat-mdc-paginator,
.mat-mdc-form-field {
  font-family: "Poppins", sans-serif !important;
}

mat-sidenav .mdc-list-item__primary-text {
  color: #fff !important;
  font-size: 14px !important;
}

.mat-drawer-container {
  background: #f8f9fc !important;
}

.table-container {
  padding: 20px;
}

thead {
  background-color: #f9fafd !important;
}

.mat-mdc-table {
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.0509803922) !important;
}

button {
  letter-spacing: 0 !important;
}

table button {
  font-size: 12px !important;
}

.top-button {
  margin: 20px 20px 0px 20px;
  font-size: 12px !important;
}

.top-button button,
.mat-step-icon-selected {
  background-color: #727cf5 !important;
}

.mat-mdc-dialog-container .mdc-dialog__content {
  padding-top: 10px !important;
}


.centered-notification {
  text-align: center;
  padding: 20px;
}
